<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!-- 扫描注解 -->
  <context:component-scan base-package="fun.epoch.mall.controller" use-default-filters="false">
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
  </context:component-scan>

  <!-- 响应内容转换器 -->
  <mvc:annotation-driven>
    <mvc:message-converters>
      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
          <list>
            <value>text/plain;charset=UTF-8</value>
            <value>text/html;charset=UTF-8</value>
          </list>
        </property>
      </bean>
      <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <constructor-arg>
          <bean class="com.fasterxml.jackson.databind.ObjectMapper">
            <property name="serializationInclusion" value="NON_NULL"/>
          </bean>
        </constructor-arg>
        <property name="supportedMediaTypes">
          <list>
            <value>application/json;charset=UTF-8</value>
          </list>
        </property>
      </bean>
    </mvc:message-converters>
  </mvc:annotation-driven>

  <!-- 文件上传 -->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="maxUploadSize" value="10485760"/>   <!-- 1024 * 1024 * 10 = 10M -->
    <property name="maxInMemorySize" value="4096"/>
    <property name="defaultEncoding" value="UTF-8"/>
  </bean>

  <!-- 拦截器 -->
  <mvc:interceptors>
    <!-- 登录检查和权限校验 -->
    <mvc:interceptor>
      <mvc:mapping path="/**"/>
      <mvc:exclude-mapping path="/user/*"/>
      <mvc:exclude-mapping path="/product/*"/>
      <mvc:exclude-mapping path="/payment/alipay/callback.do"/>
      <mvc:exclude-mapping path="/manage/user/*"/>
      <bean class="fun.epoch.mall.controller.common.AuthorityInterceptor"/>
    </mvc:interceptor>
    <mvc:interceptor>
      <mvc:mapping path="/user/update.do"/>
      <mvc:mapping path="/user/info.do"/>
      <mvc:mapping path="/user/reset_password.do"/>
      <bean class="fun.epoch.mall.controller.common.AuthorityInterceptor"/>
    </mvc:interceptor>
  </mvc:interceptors>
</beans>