<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- 扫描 MyBatis Mapper -->
  <bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="fun.epoch.mall.dao"/>
  </bean>

  <!-- MyBatis -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="configuration">
      <!-- 开启驼峰转换 -->
      <bean class="org.apache.ibatis.session.Configuration">
        <property name="mapUnderscoreToCamelCase" value="true"/>
      </bean>
    </property>
    <property name="plugins">
      <array>
        <!-- PageHelper 拦截器插件 -->
        <bean class="com.github.pagehelper.PageInterceptor">
          <property name="properties">
            <!-- 使用下面的方式配置参数，一行配置一个 -->
            <value/>
          </property>
        </bean>
      </array>
    </property>
  </bean>
</beans>